Flight price prediction

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_excel(r"C:\Users\annie\Desktop\Data_Trainn.xlsx")

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.shape

In [ ]:
#checking data info---info about no of values,data types of each column
data.info()

In [ ]:
#checking Nan Values
data.isnull().sum()

In [ ]:
data["Airline"].unique()

In [ ]:
data["Source"].unique()

In [ ]:
data["Destination"].unique()

In [ ]:
data["Additional_Info"].unique()

In [ ]:
data["Date_of_Journey"]=data["Date_of_Journey"].str.split('/')

In [ ]:
data["Date_of_Journey"]

In [ ]:
data['Date']=data["Date_of_Journey"].str[0]
data['Month']=data["Date_of_Journey"].str[1]
data['Year']=data["Date_of_Journey"].str[2]

In [ ]:
data.head()

In [ ]:
data.Total_Stops.unique()

In [ ]:
data['Route']=data['Route'].str.split('→')

In [ ]:
data['City1']=data['Route'].str[0]
data['City2']=data['Route'].str[1]
data['City3']=data['Route'].str[2]
data['City4']=data['Route'].str[3]
data['City5']=data['Route'].str[4]
data['City6']=data['Route'].str[5]

In [ ]:
data.head()

In [ ]:
#treating departure time column
data['Dep_Time']=data['Dep_Time'].str.split(":")
data['Dep_Time_Hour']=data['Dep_Time'].str[0]
data['Dep_Time_Min']=data['Dep_Time'].str[1]

In [ ]:
#treating arrival time column
data['Arrival_Time']=data["Arrival_Time"].str.split(" ")
data['Time_of_Arrival']=data["Arrival_Time"].str[0]
data['Arrival_date']=data['Arrival_Time'].str[1]

In [ ]:
data['Time_of_Arrival']=data['Time_of_Arrival'].str.split(':')
data['Arrival_Time_Hour']=data['Time_of_Arrival'].str[0]
data['Arrival_Time_Min']=data['Time_of_Arrival'].str[1]

In [ ]:
#Treating Duration
data['Duration']=data['Duration'].str.split(' ')
data['Travel_hours']=data['Duration'].str[0]
data['Travel_hours']=data['Travel_hours'].str.split('h')
data['Travel_hours']=data['Travel_hours'].str[0]
data['Travel_hours']=data['Travel_hours']
data['Travel_mins']=data['Duration'].str[1]
data['Travel_mins']=data['Travel_mins'].str.split('m')
data['Travel_mins']=data['Travel_mins'].str[0]

In [ ]:
data.head()

In [ ]:
#Treating the Total Stops Column

data['Total_Stops']=data['Total_Stops'].str.split(" ")
data['Total_Stops']=data['Total_Stops'].str[0]

In [ ]:
data.sample(5)

In [ ]:
#Exploring the additional info column
data['Additional_Info'].unique()

In [ ]:
data['Additional_Info'].replace('No Info','No info',inplace=True)

In [ ]:
data.Total_Stops.replace('non-stop','0',inplace=True)

In [ ]:
columns_to_drop=['Date_of_Journey','Route','Dep_Time','Arrival_Time','Duration','City5','City6','Time_of_Arrival']
data.drop(columns=columns_to_drop,inplace=True)

In [ ]:
data.head(10)

In [ ]:
data.isnull().sum()

In [ ]:
data.drop(columns='City4',inplace=True)

In [ ]:
data.loc[data['City1'].isnull(),'City1']='DEL'
data.loc[data['City2'].isnull(),'City2']='COK'
data.loc[data['City3'].isnull(),'City3']='None'
data.loc[data['Total_Stops'].isnull(),'Total_Stops']=0

In [ ]:
data['Arrival_date'].isnull()

In [ ]:
data['City3'].fillna('None',inplace=True)

In [ ]:
data['Arrival_date'].fillna(data['Date'], inplace=True)

In [ ]:
data['Travel_mins'].fillna(0,inplace=True)

In [ ]:
data.isnull().sum()

In [ ]:
data.info()

In [ ]:
#Changing data type of numerical columns from object to int

data. Total_Stops = data. Total_Stops.astype("int64")

data.Date = data.Date.astype('int64')

data.Month = data. Month.astype('int64')

data. Year = data.Year.astype('int64')

data.Dep_Time_Hour = data.Dep_Time_Hour.astype('int64')
data.Dep_Time_Min = data.Dep_Time_Min.astype('int64')

data.Arrival_date = data.Arrival_date.astype("int64")

data.Arrival_Time_Hour = data.Arrival_Time_Hour.astype("int64")

data.Arrival_Time_Min = data.Arrival_Time_Min.astype("int64")

data. Travel_mins = data. Travel_mins.astype('int64')

In [ ]:
#data.Travel_hours = data.Travel_hours.astype("int64")

Here we are facing issue converting the 'Travel_hours' column,saying that column has data as '5m' ,which is not allowing its conversion to "int"

In [ ]:
data[data['Travel_hours']=='5m']

The data signifies that the flight time is ‘5m’, which is obviously wrong as the plane cannot fly from BOMBAY->GOA->PUNE->HYDERABAD in 5 mins! (The flight has ‘Total_stops’ as 2)
therefore  
We choose to drop this row due to incorrect data present in the row.

In [ ]:
data.drop(index=6474,inplace=True,axis=0)

In [ ]:
data.Travel_hours = data.Travel_hours.astype("int64")

In [ ]:
data.shape

In [ ]:
categorical=data.select_dtypes(include=['object'])
numerical=data.select_dtypes(exclude=['object'])

In [ ]:
categorical.columns

In [ ]:
numerical.columns

Plotting countplots for categorical data

In [ ]:
c=1
plt.figure(figsize=(20,45))
for i in categorical:
    plt.subplot(6,3,c)
    sns.countplot(data,x=i)
    plt.xticks(rotation=90)
    c=c+1
plt.tight_layout(pad=3.0)
plt.show()

In [ ]:
c = 1
plt.figure(figsize=(20, 45))
for i in numerical:
    plt.subplot(6, 3, c)
    sns.distplot(data[i])  # Use sns.distplot() for distribution plot
    plt.xticks(rotation=90)
    c = c + 1

plt.tight_layout(pad=3.0)  # Apply tight_layout once after creating all subplots
plt.show()

In [ ]:
c = 1
plt.figure(figsize=(20, 45))
for i in categorical:
    plt.subplot(6, 3, c)
    sns.scatterplot(x=data[i],y=data.Price)  # Use sns.distplot() for distribution plot
    plt.xticks(rotation=90)
    c = c + 1

plt.tight_layout(pad=3.0)  # Apply tight_layout once after creating all subplots
plt.show()

In [ ]:
data[data.Price>=50000]

In [ ]:
c = 1
plt.figure(figsize=(20, 45))
for i in numerical:
    plt.subplot(6, 3, c)
    sns.scatterplot(x=data[i],y=data.Price)  # Use sns.distplot() for distribution plot
    plt.xticks(rotation=90)
    c = c + 1

plt.tight_layout(pad=3.0)  # Apply tight_layout once after creating all subplots
plt.show()

In [ ]:
columns_to_dropp=['Dep_Time_Min','Arrival_Time_Min','Travel_mins','City1']
data.drop(columns=columns_to_dropp,inplace=True)

In [ ]:
data.head()

In [ ]:
data.shape

In [ ]:
#data.drop('Year',inplace=True)

In [ ]:
data.head()

In [ ]:

data.sample(5)

In [ ]:
"""column_name='Year'
data.drop(column_name,inplace=True)"""

In [ ]:
data.columns